<table style="border-collapse:collapse;margin-left:5pt" cellspacing="0">
    <tbody>
    <tr class="s1">
        <th>Date</th>
        <th>Description</th>
        <th>Recipient</th>
        <th>Amount</th>
        <th>Fee</th>
        <th>Balance</th>
    </tr>
    {% for transaction in transactions %}
    <tr style="height:30pt">
        <td style="width:44pt;border-top-style:dotted;border-top-width:1pt;border-bottom-style:dotted;border-bottom-width:1pt">
            <p style="text-indent: 0pt;text-align: left;"><br></p>
            <p class="s1" style="text-indent: 0pt;text-align: left;">{{ transaction.date }}</p>
        </td>
        <td style="width:60pt;border-top-style:dotted;border-top-width:1pt;border-bottom-style:dotted;border-bottom-width:1pt">
            <p class="s1" style="width: 100%; padding: 0 20pt; box-sizing: border-box;">{{ transaction.description }}</p>
        </td>
        <td style="width:77pt;border-top-style:dotted;border-top-width:1pt;border-bottom-style:dotted;border-bottom-width:1pt">
            <p style="text-indent: 0pt;text-align: left;"><br></p>
            <p class="s1" style="padding-left: 16pt;text-indent: 0pt;text-align: left;">{{ transaction.name }}<br>{{ transaction.email }}</p>
        </td>
        <td style="width:60pt;border-top-style:dotted;border-top-width:1pt;border-bottom-style:dotted;border-bottom-width:1pt">
            <p style="text-indent: 0pt;text-align: left;"><br></p>
            <p class="s1" style="padding-left: 21pt;text-indent: 0pt;text-align: left;">{{ transaction.amount }}</p>
        </td>
        <td style="width:66pt;border-top-style:dotted;border-top-width:1pt;border-bottom-style:dotted;border-bottom-width:1pt">
            <p style="text-indent: 0pt;text-align: left;"><br></p>
            <p class="s1" style="text-indent: 0pt;text-align: center;">{{ transaction.fee }}</p>
        </td>
        <td style="width:47pt;border-top-style:dotted;border-top-width:1pt;border-bottom-style:dotted;border-bottom-width:1pt">
            <p style="text-indent: 0pt;text-align: left;"><br></p>
            <p class="s1" style="padding-right: 11pt;text-indent: 0pt;text-align: right;">{{ transaction.balance }}</p>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
<style>
    .s1 {
        font-size: 12px;
        font-family: Arial, sans-serif;
    }
</style>